@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 477px;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 1140px){
    .cont{
        width: 100%;
        flex-direction: column;
    }
    .cont1{
        width: 100%;
        flex-direction: column;
    }
    .cont2{
        width: 100%;
        flex-direction: column;
    }
    .cont3{
        width: 100%;
        flex-direction: column;
    }
    .cont4{
        width: 100%;
        flex-direction: column;
    }
    .cont5{
        width: 100%;
        flex-direction: column;
    }
    .post{
        width: 100%;
        flex-direction: column;
    }
    .class{
        width: 100%;
        flex-direction: column;
    }
    .id{
        width: 100%;
        flex-direction: column;
    }
    .img{
        width: 100%;
        flex-direction: column;
    }
    .photo{
        width: 100%;
        flex-direction: column;
    }
    .jpg{
        width: 100%;
        flex-direction: column;
    }
}